name: Deploy-heroku

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker_build
      run: |
       docker build -t ${{secrets.DOCKER_USERNAME}}/microservice:latest
    - uses: akhileshns/heroku-deploy@v3.6.8 # This is the action
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}  
        heroku_app_name: "microservice-heroku" 
        heroku_email: "mohammad.khamlan@stu.najah.edu"
